<div *ngIf="!ready" class="d-flex justify-content-center">
  <mat-spinner></mat-spinner>
</div>


<div *ngIf="ready">
  <div *ngIf="dataSource.data.length <= 0" class="d-flex justify-content-center no-content-found no-pending-requests">
    There are no pending join requests.
  </div>
</div>
<div *ngIf="ready" class="scrollable-table">



  <table *ngIf="dataSource.data.length > 0" mat-table matSort [dataSource]="dataSource" class="w-100">

    <!-- Name column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [matTooltip]="'Click to sort by name'" class="table-column-name">
          Name
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="table-cell">
          {{element.fullName}}
        </div>
      </td>
    </ng-container>

    <!-- Text column -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-column-name">
          Accompanying text <span class="font-weight-light invinsible-on-small">(click for more)</span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="text-truncate cursor-pointer table-cell" style="max-width: 150px;"
          (click)="showAccompanyingTextModal($event, element.text)">
          {{element.text}}
        </div>
        <div [matTooltip]="element.text" matTooltipClass="custom-tooltip" [matTooltipHideDelay]="3000"
          #tooltip="matTooltip"></div>
      </td>
    </ng-container>

    <!-- Created At column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [matTooltip]="'Click to sort by creation date'" class="table-column-name">
          Created At
        </div>
      </th>
      <td mat-cell *matCellDef="let element" class="table-cell"> {{element.createdAt | date}} </td>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <div class="d-flex justify-content-end" class="table-column-name text-center">
          Actions
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex justify-content-center">
          <button mat-button class="green-text mw-0" [matTooltip]="'Accept'" (click)="acceptRequest(element.id)">
            <span class="material-symbols-sharp">check_circle</span>
          </button>
          <button mat-button class="red-text mw-0" [matTooltip]="'Reject'" (click)="rejectRequest(element.id)">
            <span class="material-symbols-sharp">cancel</span>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<div class="buttons-row d-flex justify-content-between align-items-center">
  <div><mat-paginator *ngIf="dataSource.data.length > pageSize" [hidePageSize]="true"
      [pageSize]="pageSize"></mat-paginator></div>
  <button mat-button mat-dialog-close>CANCEL</button>
</div>