
.form-field {
    width: 75%;
}

.button-form-field {
    width: 15%;
}

.insert-photo-here {
    width: 75%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .54);
    font-weight: 300;
}

.insert-photo-here:hover {
    cursor: pointer;
    background-color: var(--background-color);
}

.photo {
    width: 75%;
}