<div [ngClass]="livingLabSummary.isPublic ? 'cursor-pointer' : ''" (click)="livingLabSummary.isPublic && navigateToLivingLab()">

  <mat-card class="mat-card card-wrapper">
    <!-- Photo -->
    <img [src]="livingLabSummary.iconUrl ? livingLabSummary.iconUrl : environment.env.ll_default_photo_square"
         class="photo">

    <!-- Body -->
    <div class="body">

      <!-- Title -->
      <div class="title" [title]="livingLabSummary.name">
        {{ livingLabSummary.name }}
      </div>

      <!-- Description -->
      <div class="description" [title]="livingLabSummary.focalQuestion">
        {{ livingLabSummary.focalQuestion }}
      </div>

      <!-- Chip text -->
      <div *ngIf="chipText" class="top-left-chip">
        <mat-chip-list>
          <mat-chip disabled style="opacity: 0.9"
                    matTooltip="Your role in this living lab"
                    matTooltipPosition="above">
            {{chipText}}
          </mat-chip>
        </mat-chip-list>
      </div>

      <!-- Private chip text -->
      <div *ngIf="!chipText && !livingLabSummary.isPublic" class="top-left-chip">
        <mat-chip-list>
          <mat-chip disabled style="opacity: 0.9"

                    matTooltip="This living lab is private"
                    matTooltipPosition="above">
            <span class="material-symbols-sharp">lock</span>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="showButtons" class="left-side-buttons">

        <div [matTooltip]="'Request to join living lab'">
          <button mat-icon-button
                  matTooltipPosition="right"
                  (click)="performJoinRequest()">
                 <span class="material-symbols-sharp d-flex align-items-center justify-content-center">
                   maps_ugc
                 </span>
          </button>
        </div>

      </div>



    </div>

  </mat-card>

</div>
